
body{
    background-color:rgb(0, 0, 0);
font-family: ;}

h1{
    color:rgb(255, 255, 255);}

h2{
    color:rgb(8, 133, 171);}

 p{
    color:white;}

li {
color:rgb(255, 255, 255);}


#levy{position:absolute;
left:30px ;
height: 2000px;
top:20px;
width:300px;}


#stred{position:absolute;
left:350px ;
height: 2000px;
top:20px;
width:500px;}

#hlava{position:absolute;
    left:200px ;
    height: 20px;
    top:0px;
    width:80px;
background-color:rgb(255, 255, 255)}
    


img{
border-radius: 50%;
}