p{
    color:black;}
h1{
    color:black;}
body{
    background-color:white;}
    #hlava{position:absolute;
        left:200px ;
        height: 20px;
        top:0px;
        width:80px;
    background-color:black}