h2{
    color:rgb(8, 133, 171)}
#levy{position:absolute;
left:30px ;
height: 2000px;
top:0px;
width:300px;}


#stred{position:absolute;
left:350px ;
height: 2000px;
top:0px;
width:500px;}



img{
border-radius: 50%;
}