
body{
    background-color:rgb(255, 255, 255);
font-family: ;}

h1{
    color:black;}

h2{
    color:rgb(8, 133, 171);}

 p{
    color:rgb(0, 0, 0);}

li {
color:black;}


#levy{position:absolute;
left:30px ;
height: 2000px;
top:0px;
width:300px;}


#stred{position:absolute;
left:350px ;
height: 2000px;
top:0px;
width:500px;}

#hlava{position:absolute;
    left:200px ;
    height: 20px;
    top:0px;
    width:70px;
background-color:black}
    


img{
border-radius: 50%;
}